<% object.comments.each do |comment| %>
    <% if comment.valid? %>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="block">
            <p class="subtitle"><%= comment.user.name %></p>
          </div>
          <div class="block">
            <div class="content">
              <p class="text"><%= comment.content %></p>
            </div>
          </div>
          <% if @current_user == comment.user %>
              <div class="buttons">
                <%= button_to "Edit Comment", comment, class: "button is-small is-link mx-2 my-1", method: :patch %>
                <%= button_to "Delete Comment", comment, class: "button is-small is-danger my-1", method: :delete %>
              </div>
          <%end%>
        </div>
        <div class="media-right">
          <% if @current_user.liked?(comment) %>
            <%= button_to "Unlike",  @current_user.find_like_by_object(comment), class: "tag is-link", method: :delete %>
          <% else %>
            <%= render partial: '/likes/like', locals: {like: comment.likes.new} %>
          <% end %>
          <%= "#{comment.likes.count} likes" %>
        </div>
      </article>
    </div>
    <% end %>
<% end %>