<%= form_for [parent, comment] do |f| %>
  <div class="field is-fullwidth">
    <%= f.label :content, "New Comment", class: "label" %>
    <%= f.text_area :content, class: "textarea" %>
    <%= f.hidden_field :commentable_type, value: parent.class.name %>
    <%= f.hidden_field :commentable_id, value: parent.id %>
  </div>
  <div class="field has-addons is-grouped is-grouped-right">
    <%= f.submit "Submit Comment", class: "button is-link" %>
  </div>
<% end %>