<%= form_for @recipe do |f| %>
  <div class="field">
    <%= f.label :name, class: "label" %>
    <%= f.text_field :name, class: "input" %>
  </div>
  <div class="field">
    <%= f.label :description, class: "label" %>
    <%= f.text_area :description, class: "textarea input", rows: 5 %>
  </div>
    <div class="field">
    </div>
    <div class="field">
    </div>
  <%= f.fields_for :bakers_percentages do |ff| %>
    <hr>
    <div class="field">
      <%= ff.label "Ingredient ", class: "label" %>
      <%= ff.text_field :ingredient, class: "input", value: ff.object.ingredient.name, disabled: true%>
      <%= ff.hidden_field :ingredient_id, value: ff.object.ingredient.id %>
    </div>
    <div class="field">
      <%= ff.label "Bakers Percentage: ", class: "label" %>
      <%= ff.number_field :percent, class: "input", step: 0.1%>
    </div>
    <div class="field">
      <%= link_to "Remove Ingredient", remove_from_cart_path(ff.object.ingredient.id), class:"button is-warning", method: :delete %>
    </div>
  <% end %>
  <div class="field is-grouped is-grouped-right">
    <%= f.submit "Create Recipe", class: "button is-right is-link" %>
  </div>
<% end %>