<h2><%=@recipe.name %></h2>
<p>
  <%= @recipe.description %>
</p>
<ul>
  <% @recipe.bakers_percentages.each do |i| %>
    <li><%= i.ingredient.name %> - <%= i.percent %></li>
  <% end %>
</ul>

<%= render partial: 'bookmarks/bookmarkable', locals: {object: @recipe} %>
<%= button_to "Delete Recipe", @recipe, method: :delete %>



