<div class="block"></div>
<div class="columns is-centered">
  <div class="column is-half">
    <div class="tile is-ancestor notification is-vertical is-success">
      <div class="tile is-child">
        <div class="media">
          <div class="media-content">
            <p class="title"><%=@recipe.name %></p>
          </div>
          <div class="media-right">
            <%= render partial: '/likes/likeable', locals: {parent: @recipe} %>
          </div>
        </div>
      </div>
      <div class="tile is-child">
        <p class="block"><%= @recipe.description %></p>
      </div>
      <div class="tile is-child">
        <p class="block title is-5">Ingredients: </p>
        <ul>
          <% @recipe.bakers_percentages.each do |i| %>
            <li><%= i.ingredient.name %> - <%= i.percent %></li>
          <% end %>
        </ul> 
      </div>
      <div class="field is-grouped is-grouped-right">
        <div class="buttons">
          <%= render partial: 'bookmarks/bookmarkable', locals: {object: @recipe} %>
          <% if !!current_user.recipes.find_by(id: @recipe.id) || current_user.admin %>
            <%= button_to "Edit Recipe", edit_recipe_path(@recipe), class: "button is-link mx-1 my-1" , method: :get %>
            <%= button_to "Delete Recipe", @recipe, class: "button is-danger mx-1 my-1" , method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render partial: '/comments/comment_section', locals: {parent: @recipe, comment: @recipe.comments.new} %>
  </div>
</div>




