<%= form_for @ingredient do |f| %>
  <%= render partial: '/partials/errors', locals: {object: @ingredient} %>
  <div class="field">
    <%= f.label :name, class: "label" %>
    <%= f.text_field :name, class: "input is-expanded" %>
  </div>
  <div class="field">
    <%= f.label :description, class: "label" %>
    <%= f.text_area :description, class: "textarea" %>
  </div>
  <div class="field">
    <%= f.submit "Save Ingredient", class: "button is-link" %>
  </div>
<% end %>