<h3><%= @ingredient.name %></h3>
<hr>
<p>
  <%= @ingredient.description %>
</p>
<p>
  <%= button_to "Edit Ingredient", edit_ingredient_path(@ingredient)%>
</p>
<p>
  <%= form_for :ingredient, url: add_to_cart_path  do |f| %>
    <%= f.hidden_field :id, value: @ingredient.id %>
    <%= f.submit "Add to new recipe" %>
  <% end %>
</p>
<%= render partial: 'bookmarks/bookmarkable', locals: {object: @ingredient} %>
<% if @current_user %>
  <p>
    <%= button_to "Delete Ingredient", @ingredient, method: :delete %>
  </p>
<% end %>