<div class="block"></div>
<div class="columns is-centered">
  <div class="column is-two-thirds">
    <div class="tile notification is-ancestor is-vertical is-success">
      <div class="tile is-child">
        <p class="title">Baking a <%= link_to @bake.recipe.name, @bake.recipe%></p>
        <p class="subtitle">
          <%=@bake.date.strftime("%b %d, %Y")%>
          <br>
          <%= !!@bake.weight ? "#{@bake.weight} g(s)" : 'N/A' %>
        </p>
      </div>
      <div class="tile is-child">
        <article class="content">
          <div class="block">
            <%= @bake.recipe.description %>
          </div>
          <div class="block">
            <%= render partial: '/bakes/ingredients_table', locals: {recipe: @bake.recipe} %>
          </div>
        </article>
        <% if @bake.steps.count > 0 %>
          <article class="content">
            <div class="box">
              <p class="title">Steps</p>
              <ul>
                <% @bake.steps.each do |step| %>
                  <li><%= link_to "#{step.action} - #{step.time.strftime("%l:%M %p")}", bake_step_path(@bake, step) %></li>
                <% end %>
              </ul>
            </div>
          </article>
        <% end %>
        <div class="field is-grouped is-grouped-right">
          <div class="buttons">
            <%= button_to "Add Step", new_bake_step_path(@bake), class: "button mx-1 is-link", method: :get %>
            <%= button_to "Edit Bake", edit_bake_path(@bake), class: "button mx-1 is-warning", method: :get %>
            <%= button_to "Delete Bake", @bake, class: "button mx-1 is-danger", method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block"></div>
<div class="block"></div>