<h2>Baking a <%=@bake.recipe.name%></h2>
<p><%=@bake.date.strftime("%b %d, %Y")%></p>
<p><%= @bake.weight %> g(s)</p>

<ul>
  <% @bake.steps.each do |step| %>
    <li><%= link_to "#{step.action}", bake_step_path(@bake, step) %></li>
  <% end %>
</ul>

<p>
  <%= button_to "Add Step", new_bake_step_path(@bake), method: :get %>
</p>
<p>
<%= button_to "Edit Bake", edit_bake_path(@bake), method: :get %>
</p>
<p>
  <%= button_to "Delete Bake", @bake, method: :delete %>
</p>