<%= form_for [@bake, @step] do |f| %>
  <%= render partial: '/partials/errors', locals: {object: @step} %>
  <div class="field">
    <%= f.label :action, class: "label" %>
    <%= f.text_field :action, class: "input" %>
  </div>
  <div class="field">
    <%= f.label :time, class: "label" %>
    <div class="select">
      <%= f.time_select :time, default: Time.now, ampm: true, time_separator: '</div><div class="select px-1">' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :notes, class: "label" %>
    <%= f.text_area :notes, class: "textarea" %>
  </div>
  <div class="field is-grouped is-grouped-right">
    <%= f.submit "Save Step", class: "button is-link" %>
  </div>
<% end %>