<h2><%= @current_step.action %></h2>
<p><%= @current_step.time %></p>
<p><%= @current_step.notes %></p>

<p>
  <%= button_to "Edit Step", edit_bake_step_path(@current_bake, @current_step), method: :get %>
</p>
<p>
  <%= button_to "Delete Step", [@current_bake, @current_step], method: :delete %>
</p>
<p><%= link_to "Back to Bake", @current_bake %></p>