<h2><%= @step.action %></h2>
<p><%= @step.time %></p>
<p><%= @step.notes %></p>

<p>
  <%= button_to "Edit Step", edit_bake_step_path(@bake, @step), method: :get %>
</p>
<p>
  <%= button_to "Delete Step", [@bake, @step], method: :delete %>
</p>
<p><%= link_to "Back to Bake", @bake %></p>