<%= form_for @post do |f| %>
  <%= render partial: '/partials/errors', locals: {object: @post} %>
  <div class="field">
    <%= f.label :title, class: "label" %>
    <%= f.text_field :title, class: "input" %>
  </div>
  <div class="field">
    <%= f.label :bake, class: "label" %>
    <div class="select is-fullwidth">
      <%= collection_select(:post, :bake_id, @current_user.bakes.order(created_at: :desc), :id, :name) %>
    </div>
  </div>
  <div class="field">
    <%= f.label :content, class: "label" %>
    <%= f.text_area :content, class: "textarea" %>
  </div>
  <div class="field is-grouped is-grouped-right">
  <%= f.submit "Save Post", class: "button is-link" %>
  </div>
<% end %>