<div class="block"></div>
<div class="columns is-centered">
  <div class="column is-two-thirds">
    <div class="tile is-ancestor is-vertical">
      <div class="tile box is-child">
        <div class="media">
          <div class="media-content">
            <p class="title"><%= @post.title %></p>
          </div>
          <div class="media-right">
            <%= render partial: '/likes/likeable', locals: {parent: @post} %>
          </div>
        </div>
        <article class="content">
          <div class="block">
            <p class="subtitle">Baked a <%= link_to @post.bake.recipe.name, @post.bake.recipe %></p>
            <p>
              <%=@post.bake.date.strftime("%b %d, %Y")%>
              <br>
              <%= @post.bake.weight %> g(s)
            </p>
          </div>
        </article>
        <% if @post.bake.steps.count > 0 %>
          <div class="block">
            <div class="content">
                <ul>
                  <% @post.bake.steps.each do |step| %>
                    <li><%= "#{step.action} - #{step.time.strftime("%l:%M %p")}" %></li>
                  <% end %>
                </ul>
            </div>
          </div>
        <% end %>
        <hr>
        <div class="block">
          <div class="content">
            <%= @post.content %>
          </div>
        </div>
        <div class="field is-grouped is-grouped-right">
          <div class="buttons">
            <%= render partial: '/bookmarks/bookmarkable', locals: {object: @post} %>
            <% if logged_in? %>
              <% if current_user == @post.user || current_user.admin %>
                <%= button_to "Edit Post", edit_post_path(@post), class: "button is-warning mx-1 my-1", method: :get %>
                <%= button_to "Delete Post", @post, class: "button is-danger mx-1 my-1", method: :delete %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tile is-child">
        <%= render partial: '/comments/comment_section', locals: {parent: @post, comment: @comment}  %>
      </div>
    </div>
  </div>
</div>

<div class="block"></div>
<div class="block"></div>
