<h2><%= @post.title %></h2>
<p><%= @post.bake.name %></p>
<ul>
  <% if @post.bake.steps.count > 0 %>
    <% @post.bake.steps.each do |s| %>
      <li><%= link_to s.action, bake_step_path(@post.bake, s) %></li>
    <% end %>
  <% end %>
</ul>
<p><%= @post.content %></p>

<p><%= button_to "Edit Post", edit_post_path(@post), method: :get if @current_user == @post.user %></p>

<p><%= render partial: '/comments/form' %></p>

<%= render partial: '/comments/comments', locals: {object: @post} %>
