<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <p class="navbar-item title">BreadBook</p>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <% if logged_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "Recipes", recipes_path, class: "navbar-link" %>
          <div class="navbar-dropdown">
            <%= link_to "All Recipes", recipes_path, class: "navbar-item" %>
            <%= link_to "Saved Recipes",  saved_recipes_path, class: "navbar-item" %>
            <%= link_to "Recipe Cart", cart_path, class: "navbar-item" %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "Ingredients", ingredients_path, class: "navbar-link" %>
          <div class="navbar-dropdown">
            <%= link_to "All Ingredients", ingredients_path, class: "navbar-item" %>
            <%= link_to "Saved Ingredients", saved_ingredients_path, class: "navbar-item" %>
            <%= link_to "Create New Ingredient", new_ingredient_path, class: "navbar-item" %>
          </div>
        </div>
        <%= link_to "Bakes", bakes_path, class: "navbar-item" %>
        <%= link_to "Forum", posts_path, class: "navbar-item" %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "Account", current_user, class: "navbar-link" %>
          <div class="navbar-dropdown">
            <%= link_to "Profile", current_user, class: "navbar-item" %>
            <%= link_to "Log Out", logout_path, class: "navbar-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Recipes", recipes_path, class: "navbar-item" %>
        <%= link_to "Ingredients", ingredients_path, class: "navbar-item" %>
        <%= link_to "Forum", posts_path, class: "navbar-item" %>
        <%= link_to "Log In", login_path, class: "navbar-item" %>
        <%= link_to "Sign Up", new_user_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>